h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: bold;
}
h3 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
}
body {
    margin: 0em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
a {
    cursor: pointer;
    cursor: hand;
}
button {
    font-family: Arial;
    background-color: cadetblue !important;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #cfd8dc;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button.delete {
    float:right;
    margin-right: .8em;
    background-color: orange !important;
    color:white;
}
button.update {
    float:right;
    margin-right: .8em;
    background-color: mediumseagreen !important;
    color:white;
}
button.add {
    float:right;
    margin-right: .8em;
    background-color: cadetblue !important;
    color:white;
}
button.back {
    float:left;
    margin-right: .8em;
    background-color: cadetblue !important;
    color:white;
}
button.save {
    float:left;
    margin-right: .8em;
    background-color: cadetblue !important;
    color:white;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}
label {
    display: inline-block;
    vertical-align: top;
    width: 10em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}
label:after { content: ": " }
input[type=text] {
    height: 2em;
    padding-left: .4em;
    display: inline-block;
    margin: 0;
    width: 70%;
    font-family: sans-serif;
    font-size: 1em;
    appearance: none;
    box-shadow: none;
    border-radius: 0.25em;
    box-sizing: border-box;
}
input[type=text]:focus {
    background-color: lightgoldenrodyellow;
}
.advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
}
.textarea {
    display: inline-block;
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    font-size: 1em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: none;
}
/* Navigation link styles */
/* Remove margins and padding, and add a black background color and Float the list items side by side */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/* Style the links inside the list items */
nav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    float: left;
}
nav a:visited, a:link {
    color: #f2f2f2;
}
nav a:active {
    background-color: #039be5;
}
/* Change background color of links on hover */
nav a:hover {
    background-color: #555;
}
/* Hide the list item that contains the link that should open and close the topnav on small screens */
nav a.icon {display: none;}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the nav (a.icon) */
@media screen and (max-width:680px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: inline-block;
        padding: 14px 14px;
    }
}
/* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
    nav.responsive {
        position: relative;
    }
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: inline;
    }
    nav.responsive a {
        display: block;
        text-align: left;
        padding: 14px 14px;
    }
    nav.responsive.active a {
        background-color: #039be5;
    }
}
/* items class */
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
.icon-bar {
    width: 100%;
    text-align: center;
    background-color: #555;
    overflow: auto;
}
.icon-bar a {
    width: 20%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar a:hover {
    background-color: #000;
}
.active {
    background-color: #039be5;
    color: red;
}
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.image.home{
    display:none;
}
@media all and (min-width: 700px) {
    .image.home {
        display: block;
        background: url(/resources/images/home.jpg) top left no-repeat;
        width: 100%;
        padding-bottom: 75%;
        background-size: 100%;
    }
}