<h1>{{title}}</h1>
<div>
    <label>Employee name:</label> <input #employeeName />
    <button (click)="add(employeeName.value); employeeName.value=''">
        Add
    </button>
</div>
<ul class="employees">
    <li *ngFor="let employee of employees"
        [class.selected]="employee === selectedEmployee"
        (click)="onSelect(employee)">
        <span class="badge">{{employee.id}}</span>
        {{employee.name}}
        <button class="delete" (click)="delete(employee); $event.stopPropagation()">Delete</button>
    </li>
</ul>

<div *ngIf="selectedEmployee">
    <h2>
        {{selectedEmployee.name | uppercase}} from {{selectedEmployee.team}} plays the role of {{selectedEmployee.role}} within {{selectedEmployee.level}}.
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>