<h1>{{title}}</h1>

<div>

    <h3>Select files to upload </h3>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

    <h3>Files being uploaded</h3>
    <p>Files count: {{ uploader?.queue?.length }}</p>

    <div class="table">
        <div class="row header black">
            <div class="cell">Name</div>
            <div class="cell">Size</div>
            <div class="cell">Progress</div>
            <div class="cell">Status</div>
            <div class="cell">Actions</div>
        </div>
        <div class="row" *ngFor="let item of uploader.queue">
            <div class="cell"><strong>{{ item?.file?.name }}</strong></div>
            <div class="cell"><span>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</span></div>
            <div class="cell">
                <span class="progress" style="margin-bottom: 0;"> <!--*ngIf="uploader.isHTML5"-->
                    <span class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></span>
                </span>
            </div>
            <div class="cell" class="text-center">
                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
            <div class="cell">
                <button class="btn btn-success btn-xs"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
                <button class="btn btn-warning btn-xs"
                        (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                <button class="btn btn-danger btn-xs"
                        (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </div>
        </div>
    </div>
    <div>
        <div>
            Upload Progress:
            <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
    </div>
</div>